.infi-form-inputs .infi-modal-inputs li .infi-input-left {
	width:140px;
	margin-right:-140px;
	
}

.infi-form-inputs .infi-modal-inputs li  {
	textarea {
		width:500px;
		min-height:120px;
	}
}

.infi-form-inputs .infi-modal-inputs li  {
	textarea.infi-area-half-height {
		width:500px;
		min-height:60px;
	}
}


.infi-form-inputs .infi-modal-inputs li .infi-input-left .infi-font-red .infi-font-red {
	position: relative;
    left: -5px;
}
.infi-form-inputs .infi-modal-inputs li .infi-input-left {
	height:50px;
}

.infi-box .infi-consultation-input .infi-feekback-title{
	height:24px;
	line-height:24px;
	background-color: #eee;
	border-radius: 5px;
}