@charset "UTF-8";
.infi-record {
  width: 20%;
  border: 1px solid #ccc;
  padding: 10px;
}

.infi-record > p {
  padding-left: 10px;
}

.infi-record > ul > li {
  padding-left: 10px;
}

.infi-record > ul > li .infi-record-title {
  font-weight: bold;
  font-size: 13px;
  color: #797979;
}

.infi-record > ul > li .infi-record-name-title {
  font-weight: bold;
  font-size: 14px;
}

.infi-record > ul > li > p {
  display: inline-block;
}

.infi-record .infi-list-group {
  margin-top: 15px;
}

.infi-record-first-title {
  padding-left: 10px;
  font: bold 16px "微软雅黑";
  margin-bottom: 5px;
  padding-top: 10px;
}
