.infi-pwd-form{
  input[type=text],input[type=password],input[type=email]{
    width:200px;
  }

  .infi-title{
    font-size: 16px;
    color: #ff7800;
  }
  .infi-change-type{
    cursor: pointer;

    &:hover{
      text-decoration: underline;
      color:#a94442;
    }
  }
}

//.infi-nav-pwd{
//  height: 80px;
//  background-color: #f5f5f5;
//}

.main{
  width: 435px;
  margin: 0 auto;
  padding: 50px;
  padding-top:150px;

  input[type=password],input[type=text]{
    margin-top:10px;
  }

  .error-tip{
    height:30px;
    line-height:30px;
  }
}