//主导航打开样式
nav.infi_nav{
  position:fixed;
  left:0;
  bottom:0;
  top: 72px;
  z-index: 20;
  width: 180px;
  background-color: #FFF;
  border-bottom: #F33 0px solid;
  overflow: hidden;
  box-shadow:1px 0 10px #ccc ;


  .toolbar {
    width: 180px;
    line-height: 38px;
    padding-left: 0px;
    text-align: center;
    cursor:pointer;
    span{
      color:rgb(110,193,235);
    }
  }

  .content{
    ul.main {
      width: 180px;
      li {
        border: none;
        padding: 9px 20px 9px 34px;
        font-size: 14px;
        cursor: pointer;
        &:hover{
          background-color: #eeeff1;
          color: rgb(110,193,235);
        }
        i:first-child{
          display: inline-block;
          width: 25px;
          color: rgb(110,193,235);
          font-size: 17px;
          float: left;
        }
        a{
          color: #8da0aa;
        }
        .display-none{
          display: none;
        }
      }
    }
    .hide-nav{
      width:180px;
      margin-bottom: 0px;
      display: block;
      position: relative;
      top: 9px;
      left:-33px;
      .list-group-item{
        padding-left:50px;
      }
    }
  }
}

nav.infi_nav.active{

}
//主导航关闭样式
nav.infi_nav.inif-close{
  width:45px;

  .toolbar {
    padding-left: 15px;
    text-align: left;
    cursor:pointer;
    span{
      color:rgb(110,193,235);
    }
  }

  .content {
    ul.main {
      width: 180px;
      li {
        border: none;
        padding: 9px 20px 9px 34px;
         > i:first-child {
          left:-20px;
        }
      }
    }
  }
}
//副导航打开样式
nav.infi_sub_nav{
  position:fixed;
  //height:0;
  left:180px;
  bottom:0;
  top: 72px;
  z-index: 20;
  width: 168px;
  background-color: #FFF;
  border-bottom: #F33 0px solid;
  overflow: hidden;
  box-shadow:1px 0 10px #ccc ;

  .toolbar{
    width: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    left:329px;
    top:300px;
    z-index: 25;
    > div{
      border:1px solid #ddd;
      border-radius: 5px 0 0 5px;
      background-color: #eee;
      &:hover{
        color: #333;
        background-color: #ddd;
      }
    }
  }

  .content{
    ul.main {
      width: 180px;
      li {
        border: none;
        padding: 0 0 0 34px;
        font-size: 14px;
        cursor: pointer;
        &:hover{
          background-color: #eeeff1;
          color: rgb(110,193,235);
        }
        i:first-child{
          display: inline-block;
          width: 25px;
          color: rgb(110,193,235);
          font-size: 17px;
          float: left;
        }
        a{
          padding:9px 20px 9px 0;
          width:135px;
          color: #8da0aa;
        }
      }
    }
    .hide-nav{
      width:180px;
      margin-bottom: 0px;
      display: block;
      position: relative;
      top: 9px;
      left:-33px;
      .list-group-item{
        padding-left:50px;
      }
    }
  }
}

nav.infi_sub_nav.active{
  left:45px;
  .toolbar{
    left:193px;
    > div{
      border-radius: 5px 0 0 5px;
    }
  }
}
//副导航关闭样式
nav.infi_sub_nav.infi-close{
  width:0;

  .toolbar{
    left:180px;

    > div{
      border-radius: 0 5px 5px 0;
    }
  }
}
nav.infi_sub_nav.double-infi-close{
  width:0;
  .toolbar{
    left:45px;

    > div{
      border-radius: 0 5px 5px 0;
    }
  }
}

article.infi-main.double-infi-close{
  margin-left: 45px;
}
article.infi-main.infi-close{
  margin-left: 214px;
}
article.infi-main.active{
  margin-left: 349px;
}
li.infi-nav-active{
  background-color: #eeeff1;
  color: #6ec1eb;
}

.infi-naviBox {
  display:inline-block;
  width:100px;
  i {
    top:3px;
  }
}

.list-group-item {
  padding:0 0 0 50px;
  a {
    width:85px;
    display:inline-block;
  }
}

body {
  background-color: #fff;
}