.infi-box{
  >.infi-box-containte{
    >.infi-input-wd{
      width:100px;
    }
    >.ul-float-left{
      >li{
        >.infi-input-wd{
          width:100px;
        }
      }
    }
  }
}

article.infi-main .infi-box > h4.infi-btn-title{
  padding-bottom: 5px;
  color: #006abb;
  font-size: 16px;
  border:0;
}
article.infi-main .infi-box > hr{
  border-bottom:#3f8ecb solid 1px;
  margin:10px 0;
}
.modal-content .row{
  margin:10px 0;
}

.modal-content .infi-nursing-form .row .self-num-radio{
  display: inline-block;
  margin-right: 0px;
  border: #333 0px solid;
  cursor: default;
  font-weight:normal;
  line-height:32px;
}
.modal-content .infi-nursing-form .infi-nursing-checkid input{
  width:30%;
  display: inline-block;
}
.modal-content .infi-nursing-form .infi-nursing-checkid a{
  color: #006bff;
}
.self-num-radio{
  display: inline-block;
  margin-right: 0px;
  border: #333 0px solid;
  cursor: default;
  font-weight:normal;
  line-height:32px;
}
.self-num-radio input[type='radio']{
  width: 15px;
  height: 32px;
  float: left;
  margin-left: 5px;
  margin-top: 2px;
  margin-right: 5px;
  cursor: pointer;
}
//类似于基本信息的表格样式
.infi-nur-table{
  width: 100%;
  max-width: 100%;
  margin: 21px 0;
  >tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    .self-nur-label{
      color: #6c91b7;
      text-align: right;
      width: 120px;
      >p{
        color: #757575;
      }
    }
    >tr{
      >td{
        padding:5px 0;
        >label{
          padding-left:6px;
        }
        .infi-nur-first-ipt-label{
          padding-left: 20px;
        }
      }

    }
  }
}

.infi-title-btn-right {
  float:right;
  margin-right: 20px;
  top:-10px;
  margin-top: -5px;
}
.infi-btn-fr-fix {
  float:right;
  position:relative;
  top:-13px; 
}

#chart-risk-evaluation {
  height:445px;
}

article.infi-main .infi-box >div> h4 {
    border-bottom: #3f8ecb solid 1px;
    padding-bottom: 5px;
    color: #006abb;
    font-size: 16px;
    position:relative;
}

article.infi-main .infi-box >div >.infi-box-containter {
    border: #e9e7e7 solid 1px;
    padding: 13px;
    margin-bottom: 40px;
}
//.btn-default-fix,.btn-default-fix:hover {
//    cursor:default;
//    margin-left:20px;
//    background-color: #fff;
//    position:absolute;
//    top:-5px;
//    border:0;
//    line-height:1;
//}
.btn-default-fix{
    cursor:default;
    margin-left:20px;
    background-color: #fff;
    position:absolute;
    top:-5px;
    border:0;
    line-height:1;
}
.btn-default-fix:hover{
  background-color: #fff;
}

.col-md-6 > .col-md-4 {
    text-align:right;
}
.row > li {
    margin:6px -15px;
}
.relative {
    position:relative;
}
.infi-btn-absolute-fix {
    position:absolute;
    right:-13px;
    top:-55px;
}
.infi-btn-double-absolute-fix {
  position:absolute;
  right:75px;
  top:-55px;
}
.infi-box>div {
    margin-bottom:25px;
}
.infi-time-absolute-fix {
    position:absolute;
    left: -34px;
    top: -55px;
}
.infi-box-containter-fix {
    margin-top:50px;
}
//.risk-evaluation .infi-box-containter,.extubation-record .infi-box-containter {
//    margin-top:0px;
//}
.center {
    text-align:center;
    span {
        cursor:pointer;
        color:#2fa5ff;
    }
}

article.infi-main .infi-box .infi-box-containter .infi-nursing-title-box{
  border: 1px solid transparent;
  box-shadow: 2px 2px 2px #fff;
  padding: 0;
}

.ul-li-3{
  > .infi-nuring-sreen{
    width:320px;
    margin:10px 0 0 0;

    >input{
      width:34%;
    }

    >input.infi-screen-time{
      width:37%;
    }

    >button{
      margin-left:10px;
    }
  }
  > .infi-nuring-sreen-lg{
    width:345px;
    margin:10px 0 0 0;

    >input{
      width:34%;
    }

    >button{
      margin-left:10px;
    }
  }
}
.infi-nursing-search{
  overflow: hidden;
  margin:10px 0;
  >span{
    >input{
      height:34px;
      font-size: 12px;
      width:300px;
      display: inline-block;
    }
  }
}
.infi-nursing-back{
  float:right;
  margin-right: 20px;
  top:-10px;
  margin-top: -5px;
}
.infi-nursing-form .row input{
  border-radius: 3px;
}
.infi-nursing-form .row .self-num-radio{
  color:#797979;
}
.infi-nursing-form .row input.infi-text-unit{
  border-radius: 3px;
  display: inline-block;
  width: 90%;
  margin-right: 5px;
}
//这个用于一行两列带单位的
.row input.infi-text-short-unit{
  border-radius: 3px;
  display: inline-block;
  width: 60%;
  margin-right: 5px;
}

.infi-model-tube{
  width:30%;
}

.infi-theme-box{
  position: relative;
  padding:0;

  >.infi-nursing-theme{
    padding: 0px 20px;
    height: 45px;
    line-height: 45px;
    background-color: #f8f9fd;
    border-bottom: #ccc 2px solid;
    font-size: 15px;
    box-sizing: border-box;
  }

  >.infi-nursing-theme-content{
    >div{
      >.row{
        margin:2px 0;

        >.infi-col-title{
          text-align: right;
          >span{
            margin-right:12px;
            line-height: 34px;
          }
        }

        >.col-md-9{
          >input{
            width:50%;
          }
          >input.infi-text-unit{
            display: inline-block;
          }
        }
        >.col-md-3{
          >input.infi-text-unit{
            width:82%;
            display: inline-block;
          }
        }

        >.cell{
          >.infi-col-title{
            text-align: right;
            >span{
              margin-right:12px;
              line-height: 34px;
            }
          }
        }
      }
    }
  }
}

.self-num-checkbox{
  font-weight: normal;
  line-height: 34px;
  display: inline-block;
  margin:0 5px;

  >input[type = 'checkbox']{
  }
}
.infi-nursing-part{
  border:solid 1px #ccc;
  margin:5px auto;
  padding:0;
  width:85%;
  color:#797979;

  >.infi-nursing-part-title{
    >h5{
      color:#006abb;
      border-bottom:#3f8ecb solid 1px;
      width:96%;
      margin:5px auto;
    }
  }
  >.infi-nursing-theme-content{
    >div{
      >.row{
        margin:2px 0;

        >.infi-col-title{
          text-align: right;
          >span{
            margin-right:12px;
            line-height: 34px;
          }
        }
        >.col-md-9{
          >input{
            width:50%;
          }
          >input.infi-text-unit{
            display: inline-block;
          }
        }

        >.cell{
          >.infi-col-title{
            text-align: right;
            >span{
              margin-right:12px;
              line-height: 34px;
            }
          }

          >.col-md-3{
            >.infi-text-unit{
              width:85%;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.infi-nursing-bottom-btn{
  margin: 0;
  text-align: center;
}
.infi-nursing-div-tab{
  overflow: hidden;
  line-height:34px;
  margin:5px 0;
  >.infi-left{
    >.infi-nursing-tab {

      > li {
        float: left;
        > a {
          text-align: center;
          font-size: 14px;
          padding: 0;
          height: 29px;
          line-height: 29px;
          width: 120px;
          margin: 0;
          border: #ccc 1px solid;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
        }
      }

      > li.active, li:hover, li:focus {

        > a, a:hover, a:focus {
          text-align: center;
          font-size: 14px;
          padding: 0;
          height: 29px;
          color: #f1f1f1;
          line-height: 29px;
          width: 120px;
          margin: 0;
          font-weight: bold;
          background-color: #03a8f5;
        }
      }
    }
  }
}

/**************************详情页展示********start*************************/
.infi-box{
  >.infi-theme-details{
    >div{
      >.row{
        >.cell{
          >.infi-col-title{
            text-align: right;
            margin-right:10px;
          }
        }
      }
    }
  }
}

.infi-nursing-timeline .timeline_wrapper .timeline_feed .share-feed dl{
  margin-left:0;
}
.infi-nursing-alert{
  padding:15px;
  border:solid #ebccd1 1px;
  border-radius: 5px;
}
.infi-nursing-details{
  margin:10px 0;
}
/**************************详情页展示********end*************************/
