.infi-pwd-form input[type=text], .infi-pwd-form input[type=password], .infi-pwd-form input[type=email] {
  width: 200px;
}

.infi-pwd-form .infi-title {
  font-size: 16px;
  color: #ff7800;
}

.infi-pwd-form .infi-change-type {
  cursor: pointer;
}

.infi-pwd-form .infi-change-type:hover {
  text-decoration: underline;
  color: #a94442;
}

.main {
  width: 435px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 150px;
}

.main input[type=password], .main input[type=text] {
  margin-top: 10px;
}

.main .error-tip {
  height: 30px;
  line-height: 30px;
}
