<!--<div class="infi-collection-screening">-->
    <!--<div class="infi-collection-screening-body">-->
        <!--<div class="infi-collection-body-name">-->
            <!--<div class="col-xs-3">-->
                <!--<label for="infi-collection-body-name">筛选名称 : </label>-->
            <!--</div>-->
            <!--<div class="col-xs-9">-->
                <!--<input id="infi-collection-body-name" type="text" class="form-control" name="" value="" placeholder="请输入筛选名称" >-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="infi-collection-body-remarks">-->
            <!--<div class="col-xs-3">-->
                <!--<label for="infi-collection-body-remarks">筛选备注 : </label>-->
            <!--</div>-->
            <!--<div class="col-xs-9">-->
                <!--<textarea id="infi-collection-body-remarks" type="text" class="form-control" name="" value="" placeholder="筛选备注"></textarea>-->
             <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="infi-collection-screening-footer">-->
        <!--<button type="button" class="btn infi-btn-linear-default">取消</button>-->
        <!--<button type="button" class="btn infi-btn-linear-green-l">保存</button>-->
    <!--</div>-->
<!--</div>-->


<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="infi-collection-screening-body">
                    <div class="infi-collection-body-name">
                        <div class="col-xs-2">
                            <label for="infi-collection-body-name">筛选名称 : </label>
                        </div>
                        <div class="col-xs-10">
                            <input id="infi-collection-body-name" type="text" class="form-control" name="" value="" placeholder="请输入筛选名称" >
                        </div>
                    </div>
                    <div class="infi-collection-body-remarks">
                        <div class="col-xs-2">
                            <label for="infi-collection-body-remarks">筛选备注 : </label>
                        </div>
                        <div class="col-xs-10">
                            <textarea id="infi-collection-body-remarks" type="text" class="form-control" name="" value="" placeholder="筛选备注"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="infi-collection-screening-footer">
                    <button type="button" class="btn infi-btn-linear-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn infi-btn-linear-green-l">保存</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->