<section>
    <div class="infi-group">
        <div>
            <h5>第一组</h5>
            <div>
                <input class="form-control infi-group-input datepicker"
                       type="text" placeholder="最小值" />
                -
                <input class="form-control infi-group-input datepicker"
                       type="text" placeholder="最大值" />
                <i class="glyphicon glyphicon-plus"></i>
            </div>
        </div>
        <div>
            <h5>第二组</h5>
            <div>
                <input class="form-control infi-group-input datepicker"
                       type="text" placeholder="最小值" />
                -
                <input class="form-control infi-group-input datepicker"
                       type="text" placeholder="最大值" />
                <i class="glyphicon glyphicon-plus"></i>
                <i class="glyphicon glyphicon-minus"></i>
            </div>
        </div>
    </div>
</section>
