<section class="infi-section">
    <div class="infi-filter">
        <div class="filter-title">
            <h6>筛选条件:</h6>
        </div>
        <div class="filter-content">
            <ul class="list-unstyled list-inline">
                <li>
                    <span class="infi-filter-title">性别:</span>
                    <span title="性别:男、女">男、女</span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <li>
                    <span class="infi-filter-title">入院日期：</span>
                    <span title="入院日期：2016-01-01 - 2016-02-02">2016-01-01 - 2016-02-02</span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <li>
                    <span class="infi-filter-title" title="住院天数：1 - 2天">住院天数：</span>
                    <span>1-2天</span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <li>
                    <span class="infi-filter-title">支架植入数量：</span>
                    <span title="支架植入数量：1-2；5-7">1-2；5-7</span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <li>
                    <span class="infi-filter-title">检查名称:</span>
                    <span title="超声心动图检查[手术-院内首次-管状动脉支架植入术-前-最近一次;手术-院内首次-管状动脉支架植入术-前-最近一次]；">检查名称：超声心动图检查[手术-院内首次-管状动脉支架植入术-前-最近一次；
                        手术-院内首次-管状动脉支架植入术-前-最近一次]；
                    </span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <li>
                    <span class="infi-filter-title">检查名称：</span>
                    <span title="检查名称：超声心动图检查[手术-院内首次-管状动脉支架植入术-前-最近一次、手术-院内首次-管状动脉支架植入术-前-最近一次（1-2;3-4）；手术-院内首次-管状动脉支架植入术-前-最近一次]；颈动脉超声检查[手术-院内首次-管状动脉支架植入术-前-最近一次、手术-院内首次-管状动脉支架植入术-前-最近一次（1-2;3-4）]">
                    超声心动图检查[手术-院内首次-管状动脉支架植入术-前-最近一次、手术-院内首次-管状动脉支架植入术-前-最近一次（1-2;3-4）；手术-院内首次-管状动脉支架植入术-前-最近一次]；颈动脉超声检查[手术-院内首次-管状动脉支架植入术-前-最近一次、手术-院内首次-管状动脉支架植入术-前-最近一次（1-2;3-4）]
                    </span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <!--ljy_debug展示换行效果显示-->
                <li>
                    <span class="infi-filter-title">支架植入数量：</span>
                    <span title="支架植入数量：1-2；5-7">1-2；5-7</span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
                <li>
                    <span class="infi-filter-title">检查名称：</span>
                    <span>
                        检查名称：超声心动图检查[手术-院内首次-管状动脉支架植入术-前-最近一次；手术-院内首次-管状动脉支架植入术-前-最近一次]；
                    </span>
                    <a class="glyphicon glyphicon-remove"></a>
                </li>
            </ul>
            <a class="glyphicon glyphicon-remove"></a>
        </div>
    </div>
</section>