<div class="infi-screen-modify">
    <div class="infi-screen-modify-title">
        <div class="infi-title-left">
            <button class="btn infi-btn-linear-default">与</button>
            <button class="btn infi-btn-linear-default active">或</button>
        </div>
        <div class="infi-title-right">
            <button class="btn infi-btn-linear-green-l btn-sm">收藏筛选条件</button>
        </div>
    </div>
    <div class="infi-screen-modify-content">
        <section class="infi-screen-modify-section">
            <div class="infi-section-title">
                <button class="btn infi-btn-linear-default">与</button>
                <button class="btn infi-btn-linear-default active">或</button>
                <button class="btn infi-btn-linear-green-l btn-sm">添加组</button>
            </div>
            <div class="infi-container">
                <div class="row">
                    <div class="col-md-6">
                        <span>性别:<span class="glyphicon glyphicon-minus-sign"></span></span>
                        <select class="form-control infi-input-w-xsx">
                            <option value="">等于</option>
                            <option value="">不等于</option>
                        </select>
                        <span>男</span>
                    </div>
                    <div class="col-md-6">
                        <span>性别:<span class="glyphicon glyphicon-minus-sign"></span></span>
                        <select class="form-control infi-input-w-xsx">
                            <option value="">等于</option>
                            <option value="">不等于</option>
                        </select>
                        <span>男</span>
                    </div>
                </div>
            </div>
            <section class="infi-screen-modify-section">
                <div class="infi-section-title">
                    <button class="btn infi-btn-linear-default">与</button>
                    <button class="btn infi-btn-linear-default active">或</button>
                </div>
                <div class="infi-container">
                    <div class="row">
                        <div class="col-md-6">
                            <span>性别:<span class="glyphicon glyphicon-minus-sign"></span></span>
                            <select class="form-control infi-input-w-xsx">
                                <option value="">等于</option>
                                <option value="">不等于</option>
                            </select>
                            <span>男</span>
                        </div>
                        <div class="col-md-6">
                            <span>性别:<span class="glyphicon glyphicon-minus-sign"></span></span>
                            <select class="form-control infi-input-w-xsx">
                                <option value="">等于</option>
                                <option value="">不等于</option>
                            </select>
                            <span>男</span>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>