<section>
    <div class="infi-record">
        <h4 class="infi-record-first-title">属性提取记录</h4>
        <ul class="list-unstyled">
            <li>
                <p>性别</p>
                <p>年龄</p>
                <p>民族</p>
            </li>
            <li class="infi-list-group">
                <span class="infi-record-name-title">既往病史:</span>
                <span>高血压、糖尿病、冠心病、心率失常</span>
            </li>
            <li class="infi-list-group">
                <span class="infi-record-name-title">吸烟状态:</span>
                <span>关联属性[烟龄、吸烟量]</span>
            </li>
            <li class="infi-list-group">
                <span class="infi-record-name-title">手术名称：</span>
                <span>
                    冠状动脉造影术[前置条件：院内首次、院内首次关联属性]、支架植入术、血管成形术[前置条件：院内首次、院内首次]
                </span>
            </li>
            <li>
                <span class="infi-record-title">[关联属性]：</span>
                <span>手术时间、术前诊断（冠心病、高血压）、糖尿病</span>
            </li>

            <li class="infi-list-group">
                <span class="infi-record-name-title">冠状动脉造影术：</span>
            </li>
            <li>
                <span class="infi-record-title">[关联属性]：</span>
                <span>手术时间、术前诊断（冠心病、高血压）、糖尿病</span>
            </li>
            <li>
                <span class="infi-record-title">[个性化属性]：</span>
                <span>穿刺部位、部位（前降支中段、前降支近段 关联属性：病变性质、狭隘程度）</span>
            </li>

            <li class="infi-list-group">
                <span class="infi-record-name-title">超声心动图：</span>
            </li>
            <li>
                <span class="infi-record-title">[前置条件]：</span>
                <span>院内首次、手术院内首次冠状动脉支架植入术前_最近一次</span>
            </li>
            <li>
                <span class="infi-record-title">[关联属性]：</span>
                <span>手术时间、术前诊断、糖尿病</span>
            </li>
            <li>
                <span class="infi-record-title">[检查参数]：</span>
                <span>检查时间、检查所见</span>
            </li>
            <li>
                <span class="infi-record-title">[检查症状]：</span>
                <span>检查时间、左房扩大（详情）</span>
            </li>
        </ul>
    </div>
</section>