<section class="infi-section">
    <div class="infi-drug">
        <h6 class="infi-drug-title">全部药品</h6>
        <input class="form-control infi-drug-input input-sm" type="text" name="" value="" placeholder="更多既往药品通用名称请搜索"/>
        <ul class="list-unstyled list-inline infi-drug-list">
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    阿司匹林肠溶片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <button type="button" class="infi-category-btn">显示全部</button>
        </ul>
    </div>
    <div class="infi-drug">
        <h6 class="infi-drug-title">全部药品</h6>
        <input class="form-control infi-drug-input input-sm" type="text" name="" value="" placeholder="更多既往药品通用名称请搜索"/>
        <ul class="list-unstyled list-inline infi-drug-list">
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    阿司匹林肠溶片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    阿司匹林肠溶片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    阿司匹林肠溶片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    阿司匹林肠溶片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    阿司匹林肠溶片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    地高辛片
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="" name=""/>
                    颉沙坦胶囊
                </label>
            </li>
            <button type="button" class="infi-category-btn">收起全部</button>
        </ul>
    </div>
</section>