<nav class="infi-lefttab col-xs-2">
    <ul class="infi-lefttab-ul">
        <li class="infi-lefttab-active" title="自然信息">
            <a href="#">自然信息</a>
            <span></span>
        </li>
        <li class="" title="住院汇总信息">
            <a href="#">住院汇总信息</a>
            <span></span>
        </li>
        <li class="" title="既往史及家族史">
            <a href="#">既往史及家族史</a>
            <span></span>
        </li>
        <li title="体征信息">
            <a href="#">体征信息</a>
            <span></span>
        </li>
        <li title="院内诊断信息">
            <a href="#">院内诊断信息</a>
            <span></span>
        </li>
        <li title="院内手术信息">
            <a href="#">院内手术信息</a>
            <span></span>
        </li>
        <li title="院内并发整信息">
            <a href="#">院内并发整信息</a>
            <span></span>
        </li>
    </ul>
</nav>