<section class="infi-section">
    <div class="infi-category">
        <ul class="list-unstyled">
            <li>
                <h6 class="infi-category-title">常见手术标签</h6>
                <ul class="list-unstyled list-inline infi-list-type">
                    <li>
                        <label class="infi-category-name">PIC</label>
                    </li>
                    <li>
                        <label class="infi-category-name">心脏手术</label>
                    </li>
                    <li>
                        <label class="infi-category-name">胃部手术</label>
                    </li>
                </ul>
            </li>
            <li class="infi-category-list">
                <ul class="list-unstyled list-inline infi-ul-list">
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            阿司匹林肠溶片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            地高辛片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            颉沙坦胶囊
                        </label>
                    </li>
                </ul>
                <button type="button" class="infi-category-btn">显示全部</button>
            </li>
        </ul>
    </div>
    <!--显示全部的情况-->
    <div class="infi-category">
        <ul class="list-unstyled">
            <li>
                <h6 class="infi-category-title">常见手术标签</h6>
                <ul class="list-unstyled list-inline infi-list-type">
                    <li>
                        <label>PIC</label>
                    </li>
                    <li>
                        <label>心脏手术</label>
                    </li>
                    <li>
                        <label>胃部手术</label>
                    </li>
                </ul>
            </li>
            <li class="infi-category-list">
                <ul class="list-unstyled list-inline infi-ul-list">
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            阿司匹林肠溶片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            地高辛片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            颉沙坦胶囊
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            阿司匹林肠溶片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            地高辛片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            颉沙坦胶囊
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            阿司匹林肠溶片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            地高辛片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            颉沙坦胶囊
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            阿司匹林肠溶片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            地高辛片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            颉沙坦胶囊
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            阿司匹林肠溶片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            地高辛片
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" value=""/>
                            颉沙坦胶囊
                        </label>
                    </li>
                    <li>
                        <button type="button" class="infi-category-btn">收起全部</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
