<section class="infi-section">
    <div class="infi-listing">
        <ul class="list-unstyled">
            <li>
                <ul>
                    <li>
                        <h6 class="infi-listing-title">生活史</h6>
                    </li>
                    <li class="infi-first-li">
                        <label>
                            <input type="checkbox" value="" name=""/>
                            手术名称
                        </label>
                    </li>
                    <li class="infi-first-li">
                        <label>
                            <input type="checkbox" value="" name=""/>
                            是否饮酒
                        </label>
                    </li>
                    <li class="infi-first-li">
                        <label>
                            <input type="checkbox" value="" name=""/>
                            是否饮酒
                        </label>
                    </li>
                </ul>
            </li>
       </ul>
    </div>
</section>