<section>
    <div class="infi-group">
        <div>
            <i class="glyphicon glyphicon-plus"></i>
            <p class="title">添加前置条件（不设置默认为在院期间首次）</p>
        </div>
        <div class="infi-group-item">
            <select>
                <option value="">院内</option>
                <option value="">手术</option>
                <option value="">用药</option>
            </select>
            <select>
                <option value="">首次</option>
                <option value="">末次</option>
            </select>
            <i class="glyphicon glyphicon-plus"></i>
            <i class="glyphicon glyphicon-minus"></i>
        </div>
        <div class="infi-group-item">
            <select>
                <option value="">手术</option>
                <option value="">院内</option>
                <option value="">用药</option>
            </select>
            <select>
                <option value="">首次</option>
                <option value="">末次</option>
            </select>
            <select>
                <option value="">主动脉内气球反扑术</option>
                <option value="">主动脉内气球反扑术</option>
            </select>
            <select>
                <option value="">前、后</option>
                <option value="">前</option>
                <option value="">后</option>
            </select>
            <select>
                <option value="">最近一次</option>
                <option value="">最后一次</option>
                <option value="">所有次</option>
            </select>
            <i class="glyphicon glyphicon-plus"></i>
            <i class="glyphicon glyphicon-minus"></i>
        </div>
    </div>
</section>