<!--<div class="modal fade in infi-screen-modal">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <section class="infi-section">
                <div class="infi-modal-header">
                    <h4>筛选名称</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table infi-table">
                        <thead>
                            <tr>
                                <th>
                                    筛选名称
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>筛选名称1</td>
                                <td>
                                    <a>详情</a>
                                    <a>应用</a>
                                    <a>修改</a>
                                    <a>删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>筛选名称1</td>
                                <td>
                                    <a>详情</a>
                                    <a>应用</a>
                                    <a>修改</a>
                                    <a>删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>筛选名称1</td>
                                <td>
                                    <a>详情</a>
                                    <a>应用</a>
                                    <a>修改</a>
                                    <a>删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        <!--</div>-->
    <!--</div>-->
<!--</div>-->