<!--<div class="modal fade in infi-details-modal">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
                <section class="infi-section">
                    <div class="infi-modal-header">
                        <h4>筛选名称:<span>111</span></h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>筛选设置</p>
                        <section>
                            <div>
                                <button class="btn infi-btn-linear-default">与</button>
                                <button class="btn infi-btn-linear-default active">或</button>
                            </div>
                            <div class="infi-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>性别:</span>
                                        <span>等于</span>
                                        <span>男</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span>性别:</span>
                                        <span>不等于</span>
                                        <span>男</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span>性别:</span>
                                        <span>等于</span>
                                        <span>男</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span>首次冠状动脉支架植入术前后均有检验:</span>
                                        <span>等于</span>
                                        <span>男</span>
                                    </div>
                                </div>
                                <section class="infi-container-section">
                                    <div>
                                        <button class="btn infi-btn-linear-default">与</button>
                                        <button class="btn infi-btn-linear-default active">或</button>
                                    </div>
                                    <div class="infi-container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span>性别:</span>
                                                <span>等于</span>
                                                <span>男</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span>性别:</span>
                                                <span>等于</span>
                                                <span>男</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span>性别:</span>
                                                <span>等于</span>
                                                <span>男</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span>性别:</span>
                                                <span>等于</span>
                                                <span>男</span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button class="btn infi-btn-linear-green-l">删除</button>
                        <button class="btn infi-btn-linear-green-l">修改</button>
                        <button class="btn infi-btn-linear-green-l">应用</button>
                    </div>
                </section>
        <!--</div>-->
    <!--</div>-->
<!--</div>-->