<!--<div class="infi-confirm-export">-->
    <!--<div class="infi-confirm-export-header">-->
        <!--<h4>请确认您导出的信息</h4>-->
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
    <!--</div>-->
    <!--<div class="infi-confirm-export-body">-->
        <!--<div>-->
            <!--<span class="alert-info">(导出病例数量约为1000000份)</span>-->
        <!--</div>-->
        <!--<div class="infi-export-body-name">-->
            <!--<div class=" col-xs-4">-->
                <!--<label for="infi-export-body-name" >请输入任务名称:</label>-->
            <!--</div>-->
            <!--<div class="col-xs-8">-->
                <!--<input id="infi-export-body-name" name="" value="" type="text" class="form-control" placeholder="请输入任务名称" >-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="infi-export-body-remarks">-->
            <!--<div class=" col-xs-4">-->
                <!--<label for="infi-export-body-remarks">请输入任务备注:</label>-->
            <!--</div>-->
            <!--<div class=" col-xs-8">-->
                <!--<textarea id="infi-export-body-remarks" type="text" class="form-control col-xs-8"  name="" value="" placeholder="请输入任务备注"></textarea>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="infi-confirm-export-footer">-->
        <!--<button type="button" class="btn infi-btn-linear-default">关闭</button>-->
        <!--<button type="button" class="btn infi-btn-linear-green-l">确认导出</button>-->
    <!--</div>-->
<!--</div>-->






<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <div class="infi-confirm-export-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">请确认您导出的信息</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="infi-confirm-export-body">
                    <div>
                        <span class="alert-info">(导出病例数量约为1000000份)</span>
                    </div>
                    <div class="infi-export-body-name">
                        <div class=" col-xs-4">
                            <label for="infi-export-body-name" >请输入任务名称:</label>
                        </div>
                        <div class="col-xs-8">
                            <input id="infi-export-body-name" name="" value="" type="text" class="form-control" placeholder="请输入任务名称" >
                        </div>
                    </div>
                    <div class="infi-export-body-remarks">
                        <div class=" col-xs-4">
                            <label for="infi-export-body-remarks">请输入任务备注:</label>
                        </div>
                        <div class=" col-xs-8">
                            <textarea id="infi-export-body-remarks" type="text" class="form-control col-xs-8"  name="" value="" placeholder="请输入任务备注"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer infi-confirm-export-footer">
                <button type="button" class="btn infi-btn-linear-default" data-dismiss='modal'>关闭</button>
                 <button type="button" class="btn infi-btn-linear-green-l">确认导出</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->