<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>test</title>
		<link rel="stylesheet" type="text/css" href="../../../../bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../../../datetimepicker/css/bootstrap-datetimepicker.css"/>
		<link rel="stylesheet" type="text/css" href="../../../scss/infi-form.scss"/>
	</head>
	<body>
		<header class="navbar navbar-default infi-header clearfix">
		    <div class="navbar-header infi-header-logo">
		        <span class="logo"></span>
		    </div>

		    <div class="infi-header-title pull-left">
		        结构化取数系统
		    </div>

		    <div class="box-user pull-right">
		        <img src="../../../image/user-logo.png" class="user-logo"/>
		        王中艺
		        <i class="pull-right glyphicon glyphicon-menu-down"></i>
		    </div>

		    <div class="box-button pull-right">
		        <i class="glyphicon glyphicon-fullscreen"></i>
		        <i class="glyphicon glyphicon-bell"></i>
		    </div>
		</header>
		<!-- 头部导航 END -->

		<!-- 左部导航 -->
		<nav class="infi-main-nav">
		    <ul class="list-group">
		        <li class="list-group-item" data-toggle="collapse" href="#extract-data">
		            <i class="icon glyphicon glyphicon-list"></i>
		            数据提取
		            <i class="icon-angle glyphicon glyphicon-menu-down pull-right"></i>
		            <ul class="list-group hide-nav collapse in">
		                <li class="list-group-item btn-href list-group-active" data-href="">
		                    <a><i class="glyphicon fa fa-circle"></i>新建任务</a>
		                </li>
		                <li class="list-group-item btn-href" data-href="">
		                    <a><i class="glyphicon fa fa-circle"></i>查看任务</a>
		                </li>
		                <li class="list-group-item btn-href" data-href="">
		                    <a><i class="glyphicon fa fa-circle"></i>审核任务</a>
		                </li>
		            </ul>
		        </li>
		        <li class="list-group-item" data-toggle="collapse" href="#">
		            <i class="icon glyphicon glyphicon-list-alt"></i>多科就诊分析
		        </li>
		        <li class="list-group-item" data-toggle="collapse" href="#">
		            <i class="icon glyphicon glyphicon-barcode"></i>描述统计
		        </li>
		    </ul>
		</nav>
		<!-- 左部导航 END -->

		<!-- 右部内容 -->
		<article class="infi-main" ng-app="infi-form">
		    <div ng-controller="inputData" class="row infi-form">
				<div class="infi-form-navi col-md-2">
					
				</div>

				<div class="infi-form-inputs col-md-10">
					<div ng-repeat="modal in groupData.data.version" class="infi-modal-box">
						<h2 class="infi-modal-name" ng-bind="modal.label"></h2>
						<ul class="infi-modal-inputs form-inline">
							<li ng-repeat = "theme in modal.children">
								<input-template input="theme" parent="modal.children"></input-template>
								<div ng-if = "theme.type=='菜单'" class="infi-theme-box">
									<h3 id="{{theme.name}}" class="infi-theme-name">
										<p ng-bind="theme.label"></p>
										<add-group input="theme" parent="modal.children"></add-group>
									</h3>
									<ul class="infi-theme-inputs">
										<li ng-repeat = "childTheme in theme.children">
											<input-template  input="childTheme" parent="theme.children"></input-template>
											<div ng-if = "childTheme.type=='菜单'" class="infi-child-theme-box">
												<h4 id="{{childTheme.name}}" class="infi-child-theme-name">
													<p ng-bind="childTheme.label"></p>
													<add-group input="childTheme" parent="theme.children"></add-group>
												</h4>
												<ul class="infi-child-theme-inputs">
													<li ng-repeat="attribute in childTheme.children">
														<input-template input="attribute" parent="childTheme.children"></input-template>
													</li>
												</ul>
											</div> <!-- end of infi-child-theme-box -->
										</li>
									</ul>
								</div><!-- end of infi-theme-box -->
							</li>
						</ul>
					</div><!-- end of infi-modal-box -->
				</div> 

			</div>
		</article>
		<!-- 右部内容 END-->

		<footer class="infi-footer">
		    <p class="infi-footer-detail">
		        北京无极慧通科技公司 | 北京市海淀区苏州街18号长远天地大厦A1座906室 | 联系电话:010-82686850
		    </p>
		</footer>
		
	</body>
	<script type="text/javascript" src="../../../../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../../../../bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="../../../../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../datetimepicker/js/moment.js"></script>
	<script type="text/javascript" src="../../../datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="../../../datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="../../../../bower_components/ng-file-upload-shim/ng-file-upload.js"></script>
	<script type="text/javascript" src="../../../../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>

	<script type="text/javascript" src="../app.module.js"></script>
	<script src="basic.js"></script>
	<script src="../basic.directive.js"></script>
	<script src="../basic.services.js"></script>	
</html>
